<mat-toolbar color="primary" class="toolbar">
    <span class="toolbar-title">File Manager</span>
    <span class="toolbar-spacer"></span>
    @if (currentPath !== '') {
        <button mat-button (click)="goBack()">Back</button>
    }
    <button mat-button (click)="createFolder()">New folder</button>
    <input type="file" (change)="onFileSelected($event)" style="display: none" #fileInput>
    <button mat-button (click)="fileInput.click()">Upload</button>
    <button mat-button (click)="toggleTheme()" class="theme-toggle">
        <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
</mat-toolbar>
