.sidebar {
    width: 250px;
    transition: width 0.3s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  
  .sidebar.collapsed {
    width: 0px; 
  }
  
  .toggle-icon {
    cursor: pointer;
    height: 46px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    transition: transform 0.3s;
  }

  .sidebar .mat-icon {
    margin-right: 8px;
    color: orangered;
  }