.file-manager-container {
  display: flex;
  min-width: 600px; /* Set a minimum width */
  flex-grow: 1; /* Ensure it takes up available space */
}


app-file-list {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
}