.file-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .file-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px; /* Reduced width */
    height: 80px; /* Reduced height */
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    transition: background-color 0.3s, box-shadow 0.3s;
    user-select: none;
  }
  
  .file-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .file-item mat-icon {
    color: #ff7301;
  }
  
  .file-item span {
    margin-top: 8px;
    color: #333;
    font-size: 12px; /* Reduced font size */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  
  .clickable {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
  }
  .clickable:hover {
    color: #1500ff;
  }
  
  .contextmenu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    width: 200px; /* Increase width */
    border-radius: 8px; /* Add rounded corners */
  }
  
  .contextmenu.show {
    display: block;
  }
  
  .contextmenu .menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .contextmenu .menu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contextmenu .menu li:hover {
    background-color: #f0f0f0;
  }